<%- include('../partials/_htmlhead') %>
<title>register</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>create a new account!</h1>
    <form action="/auth/register" method="POST">
        <label for="username">username (required)</label>
        <input type="text" name="username" id="username" required pattern="^\w{6,24}$">
        <label for="password">password (required)</label>
        <input type="password" name="password" id="password" required onchange="pwdVerify()">
        <label for="confirmPassword">confirm password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required onchange="pwdVerify()">
        <label for="userType">are you an author?</label>
        <input type="checkbox" name="userType" id="userType">
        <br>
        <label for="alias" class="reveal-if-active">publishing alias:</label>
        <input type="text" name="alias" id="alias" class="reveal-if-active">
        <label for="bio" class="reveal-if-active">bio:</label>
        <textarea name="bio" id="bio" class="reveal-if-active"></textarea>
        <button type="submit">register</button>
    </form>
</body>

</html>