<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
    <% if (user) { %>
        <a href="/" class="nav-link mx-4">home</a>
        <a href="/stories" class="nav-link mx-4">stories</a>
        <a href="/stories/new" class="nav-link mx-4">new story</a>
        <a href="/users" class="nav-link mx-4">authors</a>
        <a href="/users/<%= locals.user._id %>" class="nav-link mx-4">my profile</a>
        <a href="/stories/search" class="nav-link mx-4">search</a>
        <a href="/auth/logout" class="nav-link mx-4">log out</a>
    <% } else { %>
        <a href="/auth/login" class="nav-link mx-4">log in</a>
        <a href="/auth/register" class="nav-link mx-4">register</a>
    <% }; %>
</nav>