<nav class="navbar navbar-expand-xl navbar-light bg-light mb-1 px-3">
    <% if (user) { %>
        <a href="/" class="nav-link mx-1">home</a>
        <a href="/stories" class="nav-link mx-1">stories</a>
        <a href="/stories/new" class="nav-link mx-1">new story</a>
        <a href="/users" class="nav-link mx-1">authors</a>
        <a href="/users/<%= locals.user._id %>" class="nav-link mx-1">my profile</a>
        <!-- <a href="/stories/search" class="nav-link mx-4">search</a> -->
        <div class="nav-link">
            <form action="/stories/search" method="POST" class="row mx-2">
                <div class="col p-0">
                    <input type="search" id="title-search" name="titleSearch" class="h-100 w-100">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary flex-grow-0">search</button>
                </div>
            </form>
        </div>
        <a href="/auth/logout" class="nav-link mx-1">log out</a>
    <% } else { %>
        <a href="/auth/login" class="nav-link mx-4">log in</a>
        <a href="/auth/register" class="nav-link mx-4">register</a>
    <% }; %>
</nav>