<%- include('./partials/_htmlhead') %>
  <title>home</title>
</head>
<body class="index-body">
  <%- include('./partials/_navbar') %>

  <div class="index-container text-center m-4">
    <% if (user) { %>
      <h1>come on in, <%= user.username %>, grab a story and relax</h1>
    <% } else { %>
      <h1>welcome to the stories app, guest; register and log in for full features</h1>
    <% } %>
  </div>
</body>
</html>