html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

nav * {
    margin: 0 10px;
}

input:invalid {
    border: 1px solid red;
}

p {
    max-width: 900px;
    text-align: justify;
}