.reveal-if-active {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards > a {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}