<%- include('../partials/_htmlhead') %>
<title>community</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>all users</h1>
    <ul>
        <% users.forEach(user => { %>
            <li><a href="/users/<%= user._id %>"><%= user.alias ? user.alias : user.username %></a></li>
        <% }); %>
    </ul>
</body>
</html>