<%- include('../partials/_htmlhead') %>
<title>community</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="m-4 text-center">authors (alphabetical)</h1>
    <ul class="list-group mx-4 px-4 mt-4">
        <% users.forEach(user => { %>
            <li class="list-group-item"><a href="/users/<%= user._id %>"><%= user.alias ? user.alias : user.username %></a></li>
        <% }); %>
    </ul>
</body>
</html>